# Project Dependencies
ata Manipulation and Analysis
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
psycopg2-binary==2.9.10

# Data Visualization
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1

# Statistical Modeling
statsmodels==0.14.2
pymannkendall==1.4.3

# Machine Learning & Deep Learning
scikit-learn==1.5.1

# TensorFlow 
tf-nightly-cpu

# PyTorch 
torch
torchvision
torchaudio

# Jupyter Notebook
ipykernel==6.29.3



















